RewriteEngine On

# Pass Authorization header to PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Alternative methods
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
SetEnvIf Authorization "^(.*)" HTTP_AUTHORIZATION=$1

# For FastCGI
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]